@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/background.png");
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 0;
  padding: 0px;
  position: sticky;
}

#nav-mobile li {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#nav-mobile {
  padding-left: 0;
  margin-left: 0;
}

.image-container1 {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
}

.image-button {
  outline: none;
  border: none;
}

.image-container2 {
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
}

.image-container3 {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}

.container-fluid {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inverted {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.information-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 20px;
}

.profile-info {
  justify-content: center;
  text-align: center;
}

.name-tag {
  margin-top: -3vh;
  margin-bottom: -3vh;
}

.profile-line {
  border-top: 1px solid white;
  width: 25vh;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.follower_container {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.goals_image {
  width: 95%;
}

.circle {
  height: 60px;
  width: 60px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.pink {
  background-color: pink;
}
.headeris {
  font-size: 60px;
  text-align: center;
  font-family: "Herr Von Muellerhoff", cursive;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.login_button {
  width: 40vh;
  margin-left: 1vh;
  margin-bottom: 5vh;
  align-items: center;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 100px;
  padding: 15px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 2px;
  border: 0;
  transition: all ease 0.3s;
}

.login_button:hover {
  background-color: white;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.clothing_box {
  display: flex;
  box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6,
    0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 4px 5px; /* Combined padding-top and padding-right */
  border: 1px solid white;
  width: 80%;
  height: 15vh;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.clothing_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: rgba(255, 255, 255, 0.082);
  transition: width 0.5s;
}

.clothing_box:hover::before {
  width: 100%;
}

.clothing_image {
  margin: 18px;
  width: 100px;
}

.clothing_text {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 10px;
  color: #c8e3ff;
}

.headerC {
  color: #e9f4ff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 900;
  padding-top: 5px;
}

.desc {
  font-style: italic;
}

.clothing_decription-box {
  display: flex;
  flex-direction: column;
  width: 290px;
}

.headeris_red {
  font-size: 60px;
  text-align: center;
  font-family: "Herr Von Muellerhoff", cursive;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff6464, 0 0 20px #ff6464,
    0 0 25px #ff6464, 0 0 30px #ff6464, 0 0 35px #ff6464;
}

.friends-posts {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  display: flex;
  height: 420px;
  width: 330px;
  background-color: white;
  border: 2px solid black;
}

.image-shadow {
  padding-top: -10px;
  margin-top: 10px;
  width: 299px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.post-image {
  width: 98%;
  height: 102%;
  object-fit: contain;
}

.post-image2 {
  width: 100%;
  height: 97%;
  object-fit: contain;
}

.post-profile-photo {
  margin-top: -15px;
  margin-left: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-info-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
  margin-top: 2vh;
}

.caption {
  margin-left: -10px;
  margin-top: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: 12px;
}

.post-desc {
  margin-top: -5px;
  margin-left: -10px;
  font-style: italic;
  font-size: 12px;
}

.post-commentbtn {
  margin-top: 7px;
  width: 30px;
}

.glam-friends-logo {
  margin: auto;
  margin: 0px 40px;
  width: 400px;
}

.heart,
.heart-button {
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  .heart-flip {
    --base: 18px;
    --duration: 0.6s;
    --active: #ea4673;
    --inactive: #d1d6ee;
    width: var(--base);
    outline: none;
    height: calc(var(--base) + var(--base) / 2);
    border-radius: calc(var(--base) / 2) calc(var(--base) / 2) 0 0;
    position: relative;
    transform-origin: 50% 66.8%;
    transform-style: preserve-3d;
    transform: rotate(var(--rotate, -45deg));
    transition: background var(--duration), transform var(--duration) ease;
    background: var(--heart-background, var(--inactive));
    &:before,
    &:after {
      content: "";
      width: calc(var(--base) / 2);
      height: var(--base);
      border-radius: var(
        --pseudo-border-radius,
        calc(var(--base) / 2) 0 0 calc(var(--base) / 2)
      );
      outline: none;
      position: absolute;
      left: var(--pseudo-left, -50%);
      transform-origin: var(--pseudo-origin, 100%) 50%;
      bottom: 0;
      background: var(--heart-background, var(--inactive));
      filter: brightness(var(--pseudo-filter, 50%));
      transform: translateX(1%) rotateY(var(--pseudo-rotate, 90deg))
        translateZ(0);
      transition: background var(--duration), transform var(--duration) ease,
        filter var(--duration);
    }
    &:after {
      outline: none;
      --pseudo-border-radius: 0 calc(var(--base) / 2) calc(var(--base) / 2) 0;
      --pseudo-left: 100%;
      --pseudo-origin: 0;
      filter: brightness(var(--pseudo-filter-second, 100%));
      transform: translateX(-1%) rotateY(var(--pseudo-rotate-second, 0deg))
        translateZ(0);
    }
  }
  &.active {
    outline: none;
    .heart-flip {
      outline: none;
      --rotate: 45deg;
      --pseudo-filter: 100%;
      --pseudo-filter-second: 50%;
      --pseudo-rotate: 0deg;
      --pseudo-rotate-second: 90deg;
      --heart-background: var(--active);
    }
  }
}

.heart {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  transform: scale(var(--button-scale, 1)) translateZ(0);
  transition: transform 0.2s;
  &:active {
    --button-scale: 0.95;
    outline: none;
  }
}
