@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");

body {
  background-image: url("../assets/background.png");
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 0;
  padding: 0px;
  position: sticky;
}

#nav-mobile li {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#nav-mobile {
  padding-left: 0;
  margin-left: 0;
}

.image-container1 {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
}

.image-container2 {
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
}

.inverted {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.information-container {
  display: flex;
  flex-direction: row;
  /* flex: 1; */
  padding: 20px;
  align-items: center;
  gap: 5vh;
  justify-content: center;
}

.profile-info {
  justify-content: center;
  text-align: center;
}

.image-and-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin-top: -3vh;
  margin-bottom: -3vh;
}

.name-tag {
  color: white;
  font-size: 50px;
  font-family: "Herr Von Muellerhoff", cursive;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.profile-line {
  border-top: 1px solid white;
  width: 25vh;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.follower_container {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(223, 222, 222);
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.goals_image {
  width: 95%;
}

.circles {
  margin-top: 2vh;
}

.circle {
  height: 60px;
  width: 60px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.black {
  background-color: rgb(204, 39, 107);
}

.white {
  background-color: white;
}

.pink {
  background-color: pink;
}

.profile-personality-box {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

.personality-trait-box {
  display: flex;
  gap: 2vh;
  color: white;
  margin-left: -6vh;
  margin-bottom: 1vh;
  padding: 7px;
  width: 140%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.233);
  justify-content: space-between;
}

.personality-text {
  color: rgb(211, 209, 209);
  background-color: rgba(0, 0, 0, 0.438);
  padding: 7px;
}

.personality-text1 {
  font-size: 22px;
}

.personality-text2 {
  font-size: 18px;
  text-shadow: 0 0 5px #fff, 0 0 1px #fff, 0 0 2px #000000, 0 0 3px #000000,
    0 0 4px #000000, 0 0 5px #000000, 0 0 6px #000000;
}

.calendar_icon {
  width: 50px;
  filter: invert(1);
}

.follow-button {
  background-color: rgb(66, 140, 236);
  color: white;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all ease 0.3s;
}

.follow-button:hover {
  background-color: rgb(26, 58, 100);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.delete-button {
  background-color: rgb(179, 17, 17);
  color: white;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all ease 0.3s;
}

.delete-button:hover {
  background-color: rgb(51, 5, 5);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
